.snarediv{
    margin: 25vh auto;
    position: relative;
}

.drumstick1{
    margin: 25vh auto;
    position: relative;
    height: 50vh;
    width: 50vw;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.snare{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#drumstick01{
    position: absolute;
    top:-15%;
    left: 20%;
}

#drumstick02{
    position: absolute;
    top:-15%;
    left: 50%;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 18vw;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

body{
    background-image: radial-gradient(circle at center, #93bee7 0,#0a67be 100%);
}

.animate1{
    animation-duration: 0.1s;
    animation-name: Tocar;
}
.animate2{
    animation-duration: 0.1s;
    animation-name: Tocar2;
}

@keyframes Tocar {
    0% {
        top: -15%;
        transform: rotate(0deg);
    }
  
    50% {
        top: 5%;
        transform: rotate(20deg);
    }
    100% {
        top: -15%;
        transform: rotate(0deg);
    }
  }

@keyframes Tocar2 {
    0% {
        top: -15%;
        transform: rotate(0deg);
    }
  
    50% {
        top: 5%;
        transform: rotate(-20deg);
    }
    100% {
        top: -15%;
        transform: rotate(0deg);
    }
  }
